@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* 
font-family: "Roboto", sans-serif;
*/

body {
    background-color: #2e2e2e;
    color: #e0e0e0;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

h1 {
    font-family: "Roboto", sans-serif;;
    font-size: 26px;
    color: #e0e0e0;
    margin-bottom: 20px;
}

h2 {
    font-family: "Roboto", sans-serif;;
    font-size: 20px;
    color: #e0e0e0;
    margin-bottom: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.custom-timer {
    font-size: 22px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.429);
}

dialog {
    display: none;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

dialog[open] {
    display: block;
    opacity: 1;
    transform: scale(1);
    background-color: #141414;
    border: none;
    border-radius: 8px;
}

#closeModal {
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    text-align: left;
    margin: 0;
    padding: 12px 20px;
    width: fit-content;
    position: absolute;
    left: 0;
}

#closeModal:hover {
    font-size: 18px;
    transform: scale(1.04);
}

#error {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.3s ease;
    color: rgb(246, 121, 121);
    padding-bottom: 6px;
    font-family: 'Roboto', sans;
    font-size: 12px;
}

#error.show {
    opacity: 1;
    transform: translateY(0);
}

input[type="number"], #ready {
    padding: 12px 24px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: white;
}

#rest {
    margin: 10px 0;
}

button {
    padding: 22px 44px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    background-color: #333;
    color: #fff
}


button:hover {
    background-color: #4caf50;
    color: white;
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

/* Contenedor del temporizador */
.timer-container {
    background-color: #444;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 300px;
}

#timer {
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
    color: #4caf50;
    margin-bottom: 20px;
}

/* Controles */
.controls {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.controls button {
    margin: auto;
    padding: 12px 20px;
    font-size: 16px;
}

.animation img {
    aspect-ratio: 1;
    height: 150px;
}

.getBack button {
    padding: 8px 10px;
    font-size: 18px;
}

/* Estilos para botones de control */
#start {
    background-color: #008CBA;
    color: white;
}

#pause {
    background-color: #ff9800;
    color: white;
}

#stop {
    background-color: #f44336;
    color: white;
}

/* Transiciones suaves */
button:active {
    transform: scale(0.98);
}

/* Estilos para los contadores */
.count {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: #e0e0e0;
}

.count div {
    background-color: #333;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    width: 45%;
    text-align: center;
}

.working {
    background-color: #008CBA;
}

.resting {
    background-color: #ff9800;
}